apiVersion: v1
kind: Namespace
metadata:
  name: website

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-server-app
  namespace: website
  labels:
    kubernetes.io/app-name: nginx-server
    project-stage: production
spec:
  replicas: 6
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      server: nginx
  template:
    metadata:
      labels:
        server: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        resources:
          limits:
            memory: "100Mi"
            cpu: "100m"
          requests:
            memory: "10Mi"
            cpu: "10m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - cat "/usr/share/nginx/html/index.html"
        volumeMounts:
          - mountPath: /usr/share/nginx/html
            name: website
        ports:
        - containerPort: 80
          name: nginx-port
      volumes:
      - name: website
        persistentVolumeClaim:
          claimName: website-pvc
---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: website-pvc
  namespace: website
spec:
  resources:
    requests:
      storage: 100Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce


---

apiVersion: v1
kind: Service
metadata:
  name: nginx-dev-svc
  namespace: website
spec:
  type: LoadBalancer
  ports:
  - name: service
    port: 9091
    targetPort: nginx-port
  selector:
    server: nginx
