apiVersion: v1
kind: Namespace
metadata:
  name: demo-app

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-app
  label:
    kubernetes.io/app-name: nginx-server
    project-stage: dev
spec:
  replicas: 6
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      server: nginx
  template:
    metadata:
      labels:
        server: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        resources:
          limits:
            memory: "100Mi"
            cpu: "100m"
        ports:
        - containerPort: 80
          name: nginx-port

---

apiVerson: v1
kind: Service
metadata:
  name: nginx-dev-svc
  namespace: demo-app
spec:
  type: LoadBalancer
  ports:
  - name: service
    port: 9091
    targetPort: nginx-port
    nodePort: 31000
  selector:
    server: nginx
